*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /*box-sizing: border-box контролирует конкретные заданные размеры и отступы
    например если мы задаем 400px для бокса и 20px внутреннего отступа, у меня блок будет 400px 
    а внутренность 380px */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: inherit; /*inherit нужен чтобы присваивание значение от родительского элемента*/
}

input,
label,
span,
a,
textarea,
button {
  display: inline-block; /*display: inline-block - для линейных элементов, без него будет каша*/
  font-family: inherit; /*input,button, textarea без этого не берут значение от своего родительского элемента то есть не примут от body*/
}

a,
a:hover {
  text-decoration: none;
  color: #000;
  /*нужен для того чтобы после наведение стилистика и цвет не менялся и стал черным*/
}

.image {
  display: block; /*удаляет лищние отступы которые задает сам браузер то есть удаляет margin bottom*/
  width: 100%; /*растягивает на всю ширину*/
  height: auto; /*для автоматического фиксирование высоту*/
}

/* body */
.body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.container {
  width: 900px;
}

.header {
  background-color: #f0f8ff;
  color: #000;
  padding: 40px;
}

.title-1 {
  font-size: 42px;
  line-height: 1;
  margin-bottom: 24px;
}

.subtitle,
.text {
  font-size: 16px;
}

.text {
  text-align: justify;
}

.menu {
  background-color: #496883;
  color: #fff;
  margin: 20px 0;
  padding: 20px 40px;
}

.menu .menu-link {
  color: inherit;
}

/* .menu > .menu-link + .menu-link {
  margin-left: 30px;
} */

.menu > * + * {
  margin-left: 32px;
}

.menu-link:hover {
  color: #f4c258;
}

.title-2 {
  font-size: 32px;
  margin-bottom: 24px;
}

.title-3 {
  font-size: 26px;
  margin-bottom: 24px;
}

.main {
  background: #efede9;
  margin: 20px 0;
  padding: 40px;
}

.main > * + * {
  margin-top: 24px;
}

.link {
  color: rgb(1, 78, 187);
}

.link-2 {
  color: #000;
  text-decoration: underline;
}

.link-2:hover {
  text-decoration: underline;
  color: #000;
}

.link:hover {
  text-decoration: underline;
  color: #4a06b0;
}

.quote {
  font-size: 18px;
  margin: 40px 0;
  padding: 15px 40px;
  border-left: 3px solid #f24137;
  font-style: italic;
}

.footer {
  background: #1d3f5e;
  color: #fff;
  margin: 20px 0;
  padding: 20px 40px;
}

.list {
  font-size: 32px;
}

.list > * + * {
  margin-top: 24px;
}

.article {
  margin-bottom: 50px;
}

.article:last-child {
  margin-bottom: 0;
}

.article > * + * {
  margin: 24px 0;
}
